.settingIcon{
    position: absolute;
    width: 3rem;
    right: 1rem;
    top: 1rem;
}

.mainScreen {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .componentsScreen {

    height: 100%;
    width: 90%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  
  .heading1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
  }
  
  .distance {
    text-align: center;
    display: flex;
    padding-top: 2rem;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
  }

  .distanceMeter{
    display: flex;
    display: flex;
    justify-content: space-between;
    height: 85%;
  }

  .sensorCards{
    box-shadow: 0 17px 34px rgb(0 0 0 / 23%);
    border-radius: 8px;
    width: 45%;
    background: linear-gradient(63deg, rgba(148, 9, 254, 0.872) 0%, rgba(80, 118, 255, 0.889) 35%, rgba(33, 222, 255, 0.888) 100%);
  }
  .cardsHead{
    margin-top: 1rem;
    font-size: 1.8rem;
    /* font-weight: bold; */
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
  }
  .editsvg{
    width: 2rem;
  }
  
  .mediaButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .mediaButtons button{
    margin: 1rem;
  }
  
  .manageDistance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    border-radius: 18px;
    width: 100%;
    height: 30%;
    background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
  }
  
  .distanceInputs{
    margin-top: 1rem;
    display: flex;
  }




/* =--------------button and input styling----------------------------------= */


.input {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
}

input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

input:hover {
    outline: 1px solid lightgrey;
}



button {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;

}

button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

button:active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}


/* --------------------CHECKBOX STYLING--------------------------------------- */

.switch {
    display: block;
    background-color: black;
    width: 150px;
    height: 195px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0 1px 2px black, inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c, inset 0 0 2px 22px black;
    border-radius: 5px;
    padding: 20px;
    perspective: 700px;
  }
  
  .switch input {
    display: none;
  }
  
  .switch input:checked + .button {
    transform: translateZ(20px) rotateX(25deg);
    box-shadow: 0 -10px 20px #ff1818;
  }
  
  .switch input:checked + .button .light {
    animation: flicker 0.2s infinite 0.3s;
  }
  
  .switch input:checked + .button .shine {
    opacity: 1;
  }
  
  .switch input:checked + .button .shadow {
    opacity: 0;
  }
  
  .switch .button {
    display: block;
    transition: all 0.3s cubic-bezier(1, 0, 1, 1);
    transform-origin: center center -20px;
    transform: translateZ(20px) rotateX(-25deg);
    transform-style: preserve-3d;
    background-color: #9b0621;
    height: 100%;
    position: relative;
    cursor: pointer;
    background: linear-gradient(#980000 0%, #6f0000 30%, #6f0000 70%, #980000 100%);
    background-repeat: no-repeat;
  }
  
  .switch .button::before {
    content: "";
    background: linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.3) 30%, #650000 75%, #320000) 50% 50%/97% 97%, #b10000;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    transform-origin: top;
    transform: rotateX(-90deg);
    position: absolute;
    top: 0;
  }
  
  .switch .button::after {
    content: "";
    background-image: linear-gradient(#650000, #320000);
    width: 100%;
    height: 50px;
    transform-origin: top;
    transform: translateY(50px) rotateX(-90deg);
    position: absolute;
    bottom: 0;
    box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
  }
  
  .switch .light {
    opacity: 0;
    animation: light-off 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
  }
  
  .switch .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
    background-size: 10px 10px;
  }
  
  .switch .characters {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, white) 50% 20%/5% 20%, radial-gradient(circle, transparent 50%, white 52%, white 70%, transparent 72%) 50% 80%/33% 25%;
    background-repeat: no-repeat;
  }
  
  .switch .shine {
    transition: all 0.3s cubic-bezier(1, 0, 1, 1);
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%, linear-gradient(rgba(255, 255, 255, 0.5), transparent 50%, transparent 80%, rgba(255, 255, 255, 0.5)) 50% 50%/97% 97%;
    background-repeat: no-repeat;
  }
  
  .switch .shadow {
    transition: all 0.3s cubic-bezier(1, 0, 1, 1);
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
    background-repeat: no-repeat;
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
  
    80% {
      opacity: 0.8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes light-off {
    0% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
    }
  }