.App {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.slideAnim {
	animation: myAnim 1s ease 0s 1 normal forwards;
}


.slideAnim3 {
	animation: myAnim3 1s ease 0s 1 normal forwards;
}


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes myAnim3 {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}